In [1]:
import pandas as pd

from google.colab import files
uploaded = files.upload()

import io
df = pd.read_excel(io.BytesIO(uploaded['AWAN.xlsx']))
df.head(300)

Saving AWAN.xlsx to AWAN.xlsx

    Unnamed: 0  Unnamed: 1 Unnamed: 2  ... Unnamed: 27  Unnamed: 28  Unnamed: 29
0          NaN         NaN        NaN  ...         NaN          NaN          NaN
1          NaN         NaN        NaN  ...         NaN          NaN          NaN
2          NaN         NaN        NaN  ...         NaN          NaN          NaN
3          NaN         NaN        NaN  ...         NaN          NaN          NaN
4          NaN         NaN        NaN  ...         NaN          NaN          NaN
..         ...         ...        ...  ...         ...          ...          ...
295        NaN         NaN        NaN  ...         NaN          NaN          NaN
296   AGS 2013         NaN        NaN  ...         NaN          NaN          NaN
297        NaN         NaN        NaN  ...         NaN          NaN          NaN
298        NaN         0.0      01.00  ...         NaN          NaN          STD
299        NaN         NaN        NaN  ...         NaN          NaN          DEV

[300 rows x 30 columns]

In [14]:
df=df.rename(columns={df.columns[0]:'tgl',df.columns[1]:'jam'})
df

      tgl       jam Unnamed: 2  ... Unnamed: 27  Unnamed: 28  Unnamed: 29
tgl   NaN       NaN        NaN  ...         NaN          NaN          NaN
jam   NaN       NaN        NaN  ...         NaN          NaN          NaN
2     NaN       NaN        NaN  ...         NaN          NaN          NaN
3     NaN       NaN        NaN  ...         NaN          NaN          NaN
4     NaN       NaN        NaN  ...         NaN          NaN          NaN
...   ...       ...        ...  ...         ...          ...          ...
3289  NaN       NaN        NaN  ...         NaN          NaN          NaN
3290  NaN  4.535714    3.92857  ...    5.967742     2.258065      1.19592
3291  NaN  8.000000          8  ...    8.000000     5.000000      2.38959
3292  NaN  1.000000          1  ...    3.000000     1.000000      0.58823
3293  NaN  2.008909     2.0354  ...    1.426785     1.095928     0.416753

[3294 rows x 30 columns]

In [17]:
df2=df.dropna(subset=['tgl','jam'])
df2

     tgl  jam Unnamed: 2  ... Unnamed: 27  Unnamed: 28  Unnamed: 29
130   01  6.0          5  ...         8.0          6.0      1.30823
131   02  5.0          5  ...         7.0          5.0      1.15755
132   03  4.0          4  ...         8.0          4.0      1.32921
133   04  6.0          6  ...         8.0          6.0      2.47358
134   05  7.0          7  ...         8.0          7.0       1.2792
...   ..  ...        ...  ...         ...          ...          ...
3284  27  3.0          3  ...         6.0          2.0      1.34864
3285  28  5.0          5  ...         6.0          3.0      1.12208
3286  29  3.0          3  ...         4.0          2.0     0.875388
3287  30  5.0          4  ...         5.0          1.0      1.02062
3288  31  2.0          2  ...         7.0          1.0       2.2901

[2313 rows x 30 columns]

In [20]:
df3=df2.drop(columns=[df2.columns[0],df2.columns[25], df2.columns[26],df2.columns[27],df2.columns[28],df2.columns[29]])
df3

      jam Unnamed: 2 Unnamed: 3  ...  Unnamed: 22  Unnamed: 23  Unnamed: 24
130   6.0          5          5  ...          6.0          5.0            5
131   5.0          5          6  ...          4.0          4.0            4
132   4.0          4          4  ...          6.0          5.0            7
133   6.0          6          7  ...          5.0          6.0            7
134   7.0          7          7  ...          8.0          8.0            8
...   ...        ...        ...  ...          ...          ...          ...
3284  3.0          3          4  ...          6.0          6.0            6
3285  5.0          5          5  ...          3.0          3.0            3
3286  3.0          3          3  ...          2.0          2.0            2
3287  5.0          4          4  ...          2.0          2.0            2
3288  2.0          2          2  ...          6.0          6.0            7

[2313 rows x 24 columns]

In [21]:
df4 = pd.DataFrame(df3.values.ravel(), columns=['Column'])
df4

      Column
0          6
1          5
2          5
3          6
4          6
...      ...
55507      6
55508      6
55509      6
55510      6
55511      7

[55512 rows x 1 columns]

In [23]:
from openpyxl import load_workbook

path = "AWAN.xlsx"
book = load_workbook(path)
writer = pd.ExcelWriter(path, engine='openpyxl')
writer.book = book
writer.sheets = {ws.title: ws for ws in book.worksheets}

#df4.to_excel(writer, startrow=writer.sheets['Sheet1'].max_row, index = False,header= False)
df4.to_excel(writer, startrow=0, startcol=32, index = False,header= False)

writer.save()

In [ ]:
#df2.to_excel('awan2020.xlsx',index=False)